.form {
    margin: 1rem 0;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    margin-bottom: 0.25rem;
    display: block;
}

.control input {
    font: inherit;
    border: 0px solid;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font: inherit;
    color: var(--yellow-hov);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
    background-color: var(--white);
}

.actions .submit {
    background-color: var(--yellow-hov);
    color: var(--white);
}

.actions .submit:hover,
.actions .submit:active {
    background-color: var(--yellow);
}

.invalid label {
    color: #ca3e51;
}

.invalid input {
    border-color: #aa0b20;
    background-color: var(--white);
}