.modal {
    animation: slide-left 300ms ease-out forwards;
    background: var(--bg-gray);
}

.modal img {
    object-fit: cover;
}

.modal img, .modal .imgOverlay {
    width: 100%;
    height: 20em;
    border-radius: 14px 14px 0 0;
}

.imgOverlay {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 70%, var(--bg-gray) 100%);
}

@keyframes slide-left {
    from {
        opacity: 0;
        transform: translateX(-3rem);
    }
  
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    left:0; 
    top:0;
    margin: 2em;
    color: var(--white);
    cursor: pointer;
    transition: var(--button-trans);
}

.close:hover  {
    color: var(--yellow);
}

.mealDesc {
    padding: 0em 2em 2em 2em;
    color: var(--white);
}

.mealDesc p {
    color: var(--text-gray);
    font-weight: 300;
    font-size: 0.85em;
    margin-bottom: 2em;
}

.nutrition {
    display: flex;
    margin-bottom: 1.1em;
    align-items: baseline;
}

.mealDesc .mealdots {
    width: 100%;
    border-bottom: dotted 2px var(--gray);
    margin: 0em 0.5em;
}

.nutrition h5, .nutrition h6 {
    margin: 0px;
    font-weight: 300;
    font-size: 1em;
}

.nutrition h6 {
    color: var(--yellow);
    white-space: nowrap;
}

@media screen and (max-width: 650px) {
    .modal img, .modal .imgOverlay {
        height: 6em;
    }
}

