.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: var(--yellow);
    border: 0px solid;
    color: var(--black);
    padding: 0.25rem 2rem;
    border-radius: 25em;
    font-weight: bold;
    transition: var(--button-trans);
}

.form button:hover,
.form button:active {
    background-color: var(--yellow-hov);
}
