.meal {
    margin: 1rem 0em;
    padding: 1rem;
    background: var(--gray);
    border-radius: 1em;
    text-align: center;
    width: 15.5em;
}


.meal h3 {
    margin: 0 0 0.25rem 0;
    color: var(--white);
    font-family: Riveruta;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    color: var(--white);
    font-size: 1.25rem;
}

.meal img {
    width: 11em;
    height: 11em;
    border-radius: 100%;
    margin-top: -2em;
    margin-bottom: 1.5em;
    object-fit: cover;
}

.meal button {
    color: var(--black);
    background: var(--yellow);
    border: 0px transparent;
    border-radius: 25em;
    padding: 1.1em 5em;
    margin-top: 2em;
    font-family: Riveruta;
    font-weight: 900;
    cursor: pointer;
    transition: var(--button-trans);
}

.meal button:hover {
    background: var(--yellow-hov);
}

@media screen and (max-width: 650px) {
    .meal {
        width: 100%;
    }
}
