.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    z-index: 10;
    position: sticky;
    padding-top: 1em;
    margin-bottom: -6em;
    background: linear-gradient(to right, #0f1314 15%, transparent 25%);
}

.logo_section {
    display: flex;
    align-items: center;
}

.header img {
    max-height: 5em;
    padding: 0.5em 0em 0.5em 0em;
}

@media screen and (max-width: 650px) {
    .header {
        padding-left: 1em;
        padding-right: 1em;
        background: linear-gradient(to bottom, #0f1314, transparent );
    }
    .header h1 {
        display: none;
    }
}