@font-face {
  font-family: Acronym;
  src: url('../public/fonts/Acronym\ Bold.otf');
  font-display: swap;
}
@font-face {
  font-family: Riveruta;
  src: url('../public/fonts/Riveruta\ Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: Poppins;
  src: url('../public/fonts/Poppins-Light.ttf');
  font-display: swap;
}

:root {
	--white: #ffffff;
	--yellow: #fbb72c;
  --yellow-hov: #c38c23;
	--black: #181a1c;
	--gray: #35363d;
  --text-gray: #b6b7b9;
  --bg-gray: #1f2027;
  --button-trans: ease-in-out 50ms;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--black);
}

#overlays {
  display: block;
}

/* declare constants for the modals */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 7.5vh;
  left: 50%;
  translate: -50%;
  background-color: var(--gray);
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

@media (min-width: 768px) {
  .modal {
      width: 60%;
  }
}

h4, h5, h6, p, span {
  color: var(--white);
}

button {
  font-family: Riveruta;
  color: var(--black);
}
