@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@font-face {
  font-family: Acronym;
  src: url('../public/fonts/Acronym\ Bold.otf');
  font-display: swap;
}
@font-face {
  font-family: Riveruta;
  src: url('../public/fonts/Riveruta\ Regular.ttf');
  font-display: swap;
}

:root {
	--white: #ffffff;
	--pink: #d32661;
	--yellow: #fbb72c;
  --yellow-hov: #c38c23;
	--black: #181a1c;
	--gray: #35363d;
  --bg-gray: #1f2027;
  --button-trans: ease-in-out 50ms;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--black);
}

#overlays {
  display: block;
}

/* declare constants for the modals */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 7.5vh;
  left: 50%;
  translate: -50%;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

@media (min-width: 768px) {
  .modal {
      width: fit-content;
  }
}
